---
import Legal from "../layouts/Legal.astro";
---
<Legal title="AGB">
  <p class="legal__note">
    <strong>Platzhalter.</strong> F&uuml;r die AGB liegt noch kein Text vor. Sobald der Kunde die
    Allgemeinen Gesch&auml;ftsbedingungen liefert (bzw. anwaltlich gepr&uuml;ft), werden sie hier
    eingesetzt.
  </p>
</Legal>
